.visitCard {
  margin: 10px;
  min-height: 100px;
  max-height: 140px;
  display: grid;
  gap: 3px;
  grid-template-columns: auto;
  grid-template-rows: 40% 30% 30%;
  border: 1px solid black;
  padding: 10px;
}

.champIcon {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.champName, .champTitle, .roleTile {
  grid-column-start: 2;
}

.champName {
  grid-row-start: 1;
}

.champTitle {
  grid-row-start: 2;
}

.roleTile {
  grid-row-start: 3;
}
