.allChamps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.champButton:active {
  transform: scale(98%);
}

.champGrid {
  width: 90%;
  height: auto;
  display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.champButton {
  margin: 3px;
  width: 20%;
  height: auto;
  min-width: 80px;
  max-width: 120px;
}

.listIcon {
  height: 100%;
  width: 100%;
}